<a href="/">Ir a formulario</a>
<h2>Vista de Productos</h2>
{{#if producto.length }}
  <table>
    <tr>
      <th>Titulo</th>
      <th>Precio</th>
      <th>Foto</th>
    </tr>
    {{#each producto}}
      <tr>
        <td>{{producto}}</td>
        <td>{{precio}}</td>
        <td><img src="{{Imagen}}" alt=""></td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <h3>No hay datos.</h3>
{{/if}}